.header {
  height: 40px;
  width: 100%;
  padding: 5px;
  background-color: #222;
  color: whitesmoke;
  position: absolute;
  top: 0; }
  .header__text {
    margin: 5px; }
  .header button {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    float: right;
    border: 1px solid #111;
    background-color: #333;
    color: white; }
  .header button.link {
    height: 30px;
    width: fit-content;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    float: none;
    border: 1px solid transparent;
    background-color: transparent;
    color: white; }

header {
  margin-bottom: 40px; }

.Main {
  background-color: lightgray; }

.home-container {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  padding: 5px;
  background: darkgray;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, transparent 10px, darkgray 0) bottom left; }

.home-img {
  object-fit: cover;
  width: 128px;
  height: 128px;
  border-radius: 25% 5% 5% 40%;
  float: left;
  transform: translateX(-20px) translateY(-20px); }
  .home-img:before {
    background: darkgray;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background: linear-gradient(45deg, transparent 10px, darkgray 0) bottom left; }

.home-img-div {
  width: 131px;
  height: 162px;
  background-image: url("/static/media/Filipe.23bb6128.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-20px) translateY(-20px); }
  .home-img-div::before {
    content: "";
    display: block;
    height: 102%;
    width: 101%;
    margin: -1px;
    background: linear-gradient(135deg, lightgrey 25px, transparent 0) top left, linear-gradient(180deg, lightgrey 10px, transparent 0) top right, linear-gradient(315deg, darkgrey 25px, transparent 0) bottom left, linear-gradient(45deg, lightgrey 10px, transparent 0) bottom right; }
